.App {
  text-align: center;
}

.User-name
{
  font-family:Robato;
  font-weight: normal;
}
.user-profile-pic{
  height: 250px;
  /*width:  250px;*/
  aspect-ratio:1/1;
  border-radius: 50%;
  object-fit: cover;
}
.user-first-name{
  font-weight: bold;
  font-style: italic;
  color :orange
 /* text-transform : uppercase;*/
}